
@mixin restaurant-card{
    display: block;
    margin-bottom:15px;
    position: relative;
    width: 100%;
    background: white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    &::before{
        content:'Nouveau';
        color: green;
        background: $color-tertiary;
        position: absolute;
        top:10px;
        right:10px;
        padding:6px 12px;
        border-radius: 3px;
        font-size: 0.7em;
        font-weight: bold;
    }
    @include pad-only{
        width: calc(50% - (1px * (15 / 2)));
    }
    @include computer-only{
        width: calc(33% - (1px * (15 / 3)));
    }
}

@mixin importantBtn{
    color :white;
    border: none;
    font-size: 16px;
    height: 50px;
    padding: 12px 17px;
    border-radius: 50px;
    margin-bottom: 30px;
    background: linear-gradient($color-secondary, $color-primary);
}

@mixin minifycard {
    margin-top: 30px;
    opacity: 0;
    overflow: hidden;
    background: white;
    border-radius: 15px;
    box-shadow: $box-shadow;
    margin-bottom: $padding-main;
    display: flex;
    @include pad-only{
        width: calc(50% - (1px * (15 / 2)));
        margin-top:30px;
    }
    &:hover {
        .menu__minifycard--validate{
            width: 20%;
        }
        svg{
            rotate: 0deg;
        }
    }
    &:focus  {
        .menu__minifycard--validate{
            width: 20%;
        }
        svg{
            rotate: 0deg;
        }
    }
}

// Mixin Restaurants Page Title 

@mixin restaurantTitle{
    position: relative;
    display:flex;
    justify-content: space-between;
    h3{
        font-size: 24px;
        padding: 30px 0;
    }
}
// Anim
@mixin spawn($delay) {
    animation-name: spawn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: $delay;
    animation-fill-mode: forwards;
}

// Mixin breakpoint 
@mixin small-only{
    @media screen and (min-width: map-get($breakpoints, xs)){
        @content;
    }
}
@mixin pad-only{
    @media screen and (min-width: map-get($breakpoints, sm)){
        @content;
    }
}
@mixin computer-only{
    @media screen and (min-width: map-get($breakpoints, md)){
        @content;
    }
}