@mixin btn-operation{
    width: calc(100% - 12px);
    margin-left: auto;
    border-radius: $border-radius;
    background: #f6f6f6;
    box-shadow: $box-shadow;
    display: block;
    &:hover{
        background: #f5edff;
        svg{
            fill: $color-primary;
        }
    }
}

@mixin restaurant-card{
    width: 100%;
    background: white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

@mixin img($url) {
    height: 150px;
    background: $url;
    background-size: cover;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

@mixin banner($url){
    display: block;
    height: 280px;
    background: $url;
    background-size: cover;
}

@mixin importantBtn{
    color :white;
    border: none;
    font-size: 16px;
    height: 50px;
    padding: 12px 17px;
    border-radius: 50px;
    margin-bottom: 30px;
    background: linear-gradient(#f075da, #9c59dc);
}
// Mixin Restaurants Page Title 

@mixin restaurantTitle{
    position: relative;
    display:flex;
    justify-content: space-between;
    h3{
        font-size: 24px;
        padding: 30px 0;
    }
}
// Anim
@mixin spawn($delay) {
    animation-name: spawn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: $delay;
    animation-fill-mode: forwards;
}

// Mixin breakpoint 
@mixin small-only{
    @media screen and (min-width: map-get($breakpoints, xs)){
        @content;
    }
}
@mixin pad-only{
    @media screen and (min-width: map-get($breakpoints, sm)){
        @content;
    }
}
@mixin computer-only{
    @media screen and (min-width: map-get($breakpoints, md)){
        @content;
    }
}