.informations__location p{
    text-align: center;
    padding: 20px 0;
    background: #eaeaea;
    color: #353535;
    &::before{
        content: '';
        display: inline-block;
        height: 15px;
        width: 15px;
        margin-right:10px;
        background : url(../img/localisation.svg) center center / contain no-repeat;

    }
}

.informations__explore {
    background: #f6f6f6;
    padding: 30px;
    text-align: center;
    & button{
        @include importantBtn;
    }
}

.informations__explore--main{
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: bold;
}
.informations__explore--secondary{
    font-size: 17px;
    margin-bottom: 30px;
}