.operation{
    padding: 50px $padding-main;
    @include small-only{
        padding: 50px 100px;
    }
    @include pad-only{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

.operation__title {
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 22px;
    width: 100%;
}