
#restaurant{
    padding: 60px 15px;
    background: #f6f6f6;
    @include small-only {
        padding: 60px 100px;
    }
    @include pad-only{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.restaurant-title{
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 22px;
    width:100%;
}