footer {
background-color: #353535;
color: white;
padding: 0 $padding-main;
font-size: 16px;
line-height: 20px;
padding-bottom:20px;
}

footer .footer__title {
    padding : $padding-main 0;
    & > *{
        fill: white;
    }
}

li.svgUtensils::before{
    content: '';
    display: inline-block;
    height: 12px;
    width: 15px;
    margin-right:5px;
    background : url(../img/utensils.svg) center center / contain no-repeat;
}
li.svgHands::before{
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right:5px;
    background : url(../img/hands.svg) center center / contain no-repeat;
}

