
header{
    text-align: center;
    padding: 20px 0;
    position: relative;
    box-shadow: 0 0 6px grey;
    &::after{
        content: '';
        display: inline-block;
        height:30px;
        width:100%;
        background: url(../img/logo.svg) center center / contain no-repeat;
    }
}
.header--back::before {
    position: absolute;
    left:15px;
    content: '';
    display: inline-block;
    height:30px;
    width:30px;
    background : url(../img/localisation.svg) center center / contain no-repeat;
    }

