header{
    
   
}
.header__content{
    text-align: center;
    padding: 20px 0;
    position: relative;
    box-shadow: 0 0 6px grey;
    height: 30px;
    &::after{
        content: '';
        display: inline-block;
        height:30px;
        width:100%;
        background: url(../img/logo.svg) center center / contain no-repeat;
    }
}

.header-back {
    svg{
        height:100%;
        margin-top: -3px;
        padding-left: $padding-main;
        width: 20px;
        position: absolute;
        top:0px;
        left: 0px;
        fill: black;
        @include small-only{
            padding-left: 100px;
        }
    }
}

