
.menu{
    position: relative;
    margin-bottom: 30px;
    @include pad-only{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.menu__title{
    font-size:15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.menu__title::after{
    content:'';
    width: 40px;
    height: 3px;
    position: absolute;
    background: $color-tertiary;
    left: 0;
    top: 20px;
}
.main__title svg{
    background: #F2F2F2;
    width: 30px;
    height: 100%;
    right: 0px;
    top: 0px;
    border-radius: 30px;
}
.order{
    cursor: pointer;
}
.order:hover{
    box-shadow : $box-shadow
}
.order:focus{
    box-shadow : $box-shadow
}