.anim1{
    @include spawn(0s);
}
.anim2{
    @include spawn(0.3s);
}
.anim3{
    @include spawn(0.6s);
}
.anim4{
    @include spawn(0.9s);
}
.menu__minifycard{
    @include minifycard;
}

.menu__minifycard--title, .menu__minifycard--description{
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu__minifycard--title {
    font-weight: bold;
}
.menu__minifycard--content{
    padding: 10px;
    flex: 1;
    overflow: hidden;
}
.menu__minifycard--description {
    font-size: 14px;
}

.menu__minifycard--price{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    padding: 10px 20px 15px 20px;
}
.menu__minifycard--validate{
    background: $color-tertiary;
    width: 0px;
    transition-duration: 0.4s;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        fill: white;
        height:25px;
        width: 25px;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        transition-duration: 0.4s;

    }
}

