.operation__box{
    @include btn-operation;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
    @include pad-only{
        margin-left: 12px;
        width: calc(50% - (1px * (15 / 2)) - 12px);
        &:last-child{
            margin-right:auto;
            margin-left:auto;
        }
    }
    @include computer-only{
        margin-left: 0;
        width: calc(33% - (1px * (15 / 3)) - 12px);
        &:last-child{
            margin-right:0;
            margin-left:0;
        }
    }
    p{
        padding: 25px 0;
        font-weight: bold;
    }
    svg{
        height: 100%;
        width: 20px;
        position: absolute;
        left: 12%;
        fill: black;
    }
}

.operation__box--index{
    height: 24px;
    width: 24px;
    background: $color-primary;
    color: white;
    border-radius: 50%;
    top: calc(50% - 12px);
    left:-12px;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    @include computer-only{
        left: calc(50% - 12px);
        top: -12px;
    }
    p{
        padding: 0;
    }
}
