.operation__box{
    @include btn-operation;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
    p{
        padding: 25px 0;
        font-weight: bold;
    }
    > p.svg::before{
        content:'';
        height: 20px;
        width: 20px;
        left:10%;
        position: absolute;
        display: inline-block;
        background : url(../img/localisation.svg) center center / contain no-repeat;
        padding-right: 20px;
        vertical-align: middle;
        margin-top: -2px;
    }
}

.operation__box--index{
    height: 24px;
    width: 24px;
    background: $color-primary;
    color: white;
    border-radius: 50%;
    top: calc(50% - 12px);
    left:-12px;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        padding: 0;
    }
}