.restaurant-card{
    display: block;
    @include restaurant-card;
    margin-bottom:15px;
    position: relative;
    @include pad-only{
        width: calc(50% - (1px * (15 / 2)));
    }
    @include computer-only{
        width: calc(33% - (1px * (15 / 3)));
    }
    &::before{
        content:'Nouveau';
        color: green;
        background: $color-tertiary;
        position: absolute;
        top:10px;
        right:10px;
        padding:6px 12px;
        border-radius: 3px;
        font-size: 0.7em;
        font-weight: bold;
    }
}
.restaurant-card__image{
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.restaurant-card__content{
    position: relative;
    padding: 10px;
    p{
        line-height: 1.5em;
    }
}
.heart__empty{
    height: 20px;
    width: 20px;
    top: 10px;
    right: 10px;
    position: absolute;
    background: white;
    z-index:50;

}
#header-shape-gradient {
    --color-stop: #9356DC ;
    --color-bot: #FF79DA;
  }
.restaurant-card__content .heart__full{
    height: 20px;
    width: 20px;
    top: 10px;
    right: 10px;
    z-index:60;
    position: absolute;
    fill: url(#header-shape-gradient) white;
    opacity: 0;
    transition-duration: 0.4s;
    &:hover{
        opacity: 1;
    }

}
.restaurant-card__content__title{
    font-weight: bold;
}