.restaurant-card{
    @include restaurant-card;
}
.restaurant-card__image{
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.restaurant-card__content{
    position: relative;
    padding: 10px;
    .restaurant-card__content__title{
        font-weight: bold;
    }
    p{
        line-height: 1.5em;
    }
}

